// .btn-custom{
//     background: #fc0 !important;
//     color: #000 !important;
//     border: none;
//     width: 6rem !important;
// }

.btn-custom {
    width: 6rem !important;
    border: 1px solid #fc0;
    background-color: #fc0;
    color: #000;
}

.btn-custom:hover {
    background: 0 0;
    color: #fc0;
}





.search-bar{
    width: 25rem;
    margin-left: 5rem;
    outline: none;
    border: none;
}