.shadow-lg:hover {
    transform: scale(1.04);
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

.btn-primary{
    // #2b2631
    background: #fc0 !important;
    color: #000 !important;
    border: none;
}